/* .header{
    display:flex; 
    justify-content: center;
} */
/* .buttons{
    display:flex; 
    justify-content: center;
} */
/* #name{
    text-align: center;
    padding-bottom:20px;
    margin-left: 20px;
    background-color: rgb(0, 132, 255);
} */


/* #things{
    margin-right:20px;
    padding-right:20px;  
}
#content{
    text-align-last:center; 
    font-family:'Courier New', Courier, monospace; 
    font-size:large; 

}
li{
    list-style:none; 
    padding:10px; 
}
button{
    margin-right:10px; 
    margin-left:10px; 
    background-color:rgb(101, 195, 233); 
    color:black; 
}
body{
    background: cornsilk;
} */
.NewTodo{
    margin-bottom:10px; 
}